.reviews-headshots-wrapper
  #reviews.reviews
    .review.ct(style='background: url(images/reviewbg01.jpg); background-size: cover; background-position: center center;')
      .quote
        p
          | “Sun Ray Pools took great care of us.”
        h6 Robert Smith, Rowlett
        a
          i.fa.fa-picture-o
  .quotes-wrapper(style='margin-top: -50px')
    .quotes
      ul.quo-ul
        li#quote01.quo-li.active
          .quote
            span
              a
                img(src='images/headshot01.jpg')
        li#quote02.quo-li
          .quote
            span
              a
                img(src='images/headshot02.jpg')
        li#quote03.quo-li
          .quote
            span
              a
                img(src='images/headshot03.jpg')
        li#quote04.quo-li
          .quote
            span
              a
                img(src='images/headshot04.jpg')
        li#quote05.quo-li
          .quote
            span
              a
                img(src='images/headshot05.jpg')
