.spotlight-wrapper
  .spotlight
    .spotlight-bg.ct
      .spotlight-head
        h1= spotlight.header
        h2= spotlight.subheader
        p= spotlight.action

    .showcase-wrapper
      .showcase
        .showcase-item
          .show-card
          .circle(background:url(../images/showcase0.jpg))
          h2 Showcase Item
          p Details for showcase item
        .showcase-item
          .show-card
          .circle
          h2 Showcase Item
          p Details for showcase item
        .showcase-item
          .show-card
          .circle
          h2 Showcase Item
          p Details for showcase item