.hero-banner-wrapper
  #hero.hero.ct(style='background: url(images/main01.jpg); background-size: cover; background-position: center center;')
    .hero-cta
      .hero-cta-h1
        h1#hero-header SalesOps.
      .hero-cta-ul
        ul#hero-ul
          a#hero01.active(href='#')
            li  Pools 
          a#hero02(href='#')
            li  Spas 
          a#hero03(href='#')
            li  Firepits 
          a#hero04(href='#')
            li  Patio 
      .hero-cta-btn
        form
          input(placeholder='Enter your email address...')
        .hero-cta-btn-submit
          button.btn-main(type='submit')  Submit 
  
  #banner.banner
    .banner-wrapper
      a(href='#open-modal')
        img(src='images/icon02.png')
      p.flex-1
        span#banner-a.bold.hidden-on-mobile
          | Download the Checklist  →
        span#banner-b.bold
          | 10 Tips for a Perfect Pool
      a(href='#open-modal', style='color:white')
        button.btn.btn-main  Download