include ./includes/layout

body
	block content
		include ./includes/navAlt
		include ./includes/hero
		include ./includes/features
		include ./includes/quotes
		include ./includes/info
		include ./includes/partners
		include ./includes/foot
